{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>RECEIVER</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<h1>{{ PROJECT_NAME }}</h1>
<input id="test-input" placeholder="start typing"></input>
<video id="video1" width="420">
    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
</video>
{% endblock content %}


{% block extra_foot_js %}
{{ JS.push('js/lib/cast_receiver.js') }}
{{ JS.push('js/receiver.js') }}
{% endblock extra_foot_js %}
